{% extends "base.html" %}

{% block body %}
    <h1>Piece List</h1>


<div class="bs-example">
    <table class="table">
     <thead>
        <tr>
            <th>Piece Title</th>
            <th>Composer</th>
            <th>Book</th>
        </tr>
    </thead>
    <tbody>
    {% for piece in content %}
        <tr>
            <td><a href="{{ piece.url }}">{{ piece.title }}</a></td>
            <td>{{ piece.composer_src }}</td>
            <td>{{ piece.book_id }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

    
{% endblock %}